<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/base.css' />
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/reg">注册</a></li>
            <li><a href="/login">登录</a></li>
            <li><a href="/post">发表文章</a></li>
            <li><a href="/logout">退出登录</a></li>
            <div class="clearfix"></div>
        </ul>
    </div>